@page "/home"

<PageTitle>My Resume: Главная</PageTitle>

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Left" VerticalAlignment="VerticalAlignment.Top">
    <div>
        <FluentSearch Placeholder="Поиск"/>
        <br />
    </div>
</FluentStack>
