@using MyResume.WebClient.Components.ToolBarFilters
@using MyResume.WebClient.Enums

<FluentToolbar id="toolbar-fluent-components" Style="width:100%; margin:0;">
    <FluentSearch Placeholder="@placeholder" @bind-Value=value Style="width:auto; font-size:18px; padding:10px;" AriaLabel="Search" />
    <FluentButton Appearance="VacancyButton" OnClick="@(() => OnSelectedFilter(SelectedFilter.OnVacancy))">Вакансии</FluentButton>
    <FluentButton Appearance="ResumeButton" OnClick="@(() => OnSelectedFilter(SelectedFilter.OnResume))">Резюме</FluentButton>
    <FluentButton Appearance="CompanyButton" OnClick="@(() => OnSelectedFilter(SelectedFilter.OnCompany))">Компании</FluentButton>
</FluentToolbar>

<div style="width:100%; margin:0;">
        @if (_SelectedFilter == SelectedFilter.OnVacancy)
        {
            <VacancyList/>
        }
        else if (_SelectedFilter == SelectedFilter.OnResume)
        {
            <ResumeList/>
        }
        else if (_SelectedFilter == SelectedFilter.OnCompany)
        {
            <CompanyList/>
        }
</div>

@code {
    public SelectedFilter _SelectedFilter { get; set; }

    private Appearance VacancyButton;
    private Appearance ResumeButton;
    private Appearance CompanyButton;

    private string placeholder = "Поиск по вакансиям";
    private string? value;

    protected override void OnInitialized()
    {
        OnSelectedFilter(_SelectedFilter);
    }

    private void OnSelectedFilter(SelectedFilter selected)
    {
        _SelectedFilter = selected;

        if (selected == SelectedFilter.OnVacancy)
        {
            placeholder = "Поиск по вакансиям";
            VacancyButton = Appearance.Accent;
            ResumeButton = Appearance.Outline;
            CompanyButton = Appearance.Outline;
            return;
        }
        else if (selected == SelectedFilter.OnResume)
        {
            placeholder = "Поиск по резюме";
            VacancyButton = Appearance.Outline;
            ResumeButton = Appearance.Accent;
            CompanyButton = Appearance.Outline;
            return;
        }
        else if (selected == SelectedFilter.OnCompany)
        {
            placeholder = "Поиск по компаниям";
            VacancyButton = Appearance.Outline;
            ResumeButton = Appearance.Outline;
            CompanyButton = Appearance.Accent;
            return;
        }
    }
}
