@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader Style="background-color:burlywood" Height="80">
        <ChildContent>
            <h3>My Resume - сайт по онлайн рекрутингу </h3>
            <img src="./icons/order-ok.png" width="50" height="50" />
        </ChildContent>        
    </FluentHeader>

    <FluentStack Class="main" Orientation="Orientation.Horizontal">
        <NavMenu/>
        <FluentBodyContent>
            <ChildContent>
                <FluentBodyContent>
                    @Body
                    <FluentDialogProvider />
                </FluentBodyContent>
            </ChildContent>
        </FluentBodyContent>
    </FluentStack>    
</FluentLayout>

<style>
    body{
        background-color: #ffcc99;
    }
</style>
