<div class="navmenu">
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu">
            <FluentNavLink Href="/home" Text="Home">Главная страница</FluentNavLink>
            <FluentNavLink Href="/profile" Text="Home">Профиль</FluentNavLink>

            <FluentNavLink Href="/about" Text="Home">О нас</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>
